@import 'mixins';
@import 'variaveis';

// Classes para esconder e mostrar o menu
.visible {
    display: $display_flex;
    justify-content: $justify_content_center;
    align-items: $alignItems;
    margin: 1em 0;
    width: 100%;
}

.hidden {
    display: none;
    justify-content: $justify_content_center;
    align-items: $alignItems;
    margin: 3em 0;
    width: 100%;
}

// Configurações do menu

.menu_items_container {
    display: none;

    & .menu_items_list {
    position: absolute;
    flex-direction: column;
    display: $display_flex;
    justify-content: flex-start;
    align-items: $alignItems;
    padding: 5px;
    margin: 5px 0;
    top: 1%;
    left: 75%;
    width: 5%;
    text-shadow: $shadowBox;
    animation: fadeLeft 0.5s ease-in-out;

    & .menu_circle {
        cursor: pointer;
        position: relative;
        display: $display_flex;
        justify-content: $justify_content_center;
        align-items: $alignItems;
        border: $borderBlack;
        border-radius: 50%;
        background-size: cover; // Cobrindo todo o quadrado 
        background-position: center;
        margin: 5px 0;
        width: 30px;
        height: 30px;
        box-shadow: $shadowBox;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 1px 1px 3px rgba(236, 57, 57, 0.813);
        }
    }

        & .circle_1 {
            transform: translateY(-15px);
            background-image: url('/imagem/estacao-de-trabalho-com-laptop.jpg');
            animation: merge 0.8s ease-in-out;
        }

        & .circle_2 {
            transform: translate(5px, -15px);
            background-image: url('/imagem/contato.jpg');
        }

        & .circle_3 {
            transform: translate(-5px, -15px);
            background-image: url('/imagem/sobre.jpg');
            animation: merge 1.5s ease-in-out;
        }

        & .menu_links {
            display: none;
            position: absolute;
            padding: 0 15px;
            transform: translate(15px, 0px);
            transition: all 0.3s ease;
        }

        & .menu_circle:hover a.menu_links {
            display: block; /* Mostra quando o nav é "hoverado" */
            color: #fff;
            border: $borderBlack;
            background-color: #000000;
            transform: translate(45px, 0);
        }
        
    }
}