@import 'mixins';
@import 'variaveis';

// Configurações do menu
.menu_items {
    display: $display_flex;
    justify-content: $justify_content_center;
    align-items: $alingItems;
    border: $borderBlack;
    background-color: rgb(209, 246, 246);
    margin: 3em 0;
    width: 100%;

    & .user_profile_menu {
        display: $display_flex;
        justify-content: $justify_content_center;
        align-items: $alingItems;
        width: 20%;

        & .profile_symbol {
            @include profile_symbol();
            left: 26em;
            bottom: 25em
        }
        & .img_profile  {
            @include img_profile();
            left: 14em;
            bottom: 9em;
            width: 220px;
            height: 280px;
        }
        & .square_profile {
            @include square_profile();
            left: 15em;
            width: 220px;
            height: 280px;
        }   
    }

    & .menu_square {
        display: $display_flex;
        justify-content: $justify_content_center;
        flex-wrap: wrap;
        margin: 2%;
        width: 50%;
        text-shadow: $shadowBox;

        & .img_menu_items {
            @include img_menu_items();
        } 
        & .square {
            @include square();
            margin: 2%;
            box-shadow: $shadowSquare;    

            & .square_button {
                @include square_button();
            } 
        } 
        & .square_1 {
            background-image: url('/imagem/estacao-de-trabalho-com-laptop.jpg');
        }
        & .square_2 {
            background-image: url('/imagem/contato.jpg');
        }
        & .square_3 {
            background-image: url('/imagem/sobre.jpg');
        }
        & .square_4 {
            background-image: url('/imagem/home.jpg');
        }
    }
}