@import 'mixins';
@import 'variaveis';

// Classes para esconder e mostrar o menu
.visible {
    display: $display_flex;
    justify-content: $justify_content_center;
    align-items: $alignItems;
    margin: 1em 0;
    width: 100%;
}

.hidden {
    display: none;
    justify-content: $justify_content_center;
    align-items: $alignItems;
    margin: 3em 0;
    width: 100%;
}

// Classe para animação dos itens do menu


// Configurações do menu
.menu_items {
    display: none;
    justify-content: $justify_content_center;
    align-items: $alignItems;
    width: 100%;

    & .user_profile_menu {
        display: $display_flex;
        justify-content: $justify_content_center;
        align-items: $alignItems;
        width: 20%;
        animation: merge 2s ease-in-out;

        & .profile_symbol {
            @include profile_symbol();
            left: 26em;
            bottom: 25em;
            animation: $symbol_animation;
            animation-delay: $delay_animation;
        }
        & .img_profile  {
            @include img_profile();
            left: 14em;
            bottom: 9em;
            width: 220px;
            height: 280px;
        }
        & .square_profile {
            @include square_profile();
            left: 15em;
            top: 9em;
            width: 220px;
            height: 280px;
        }   
    }

    & .menu_squares {
        display: $display_flex;
        justify-content: $justify_content_center;
        flex-wrap: wrap;
        padding: 10px 0;
        width: 50%;
        text-shadow: $shadowBox;

        & .img_menu_items {
            @include img_menu_items();
        } 
        & .border_top {
            border-top: $borderBlack;
            width: 100%;
            margin: 0 0 2% 0;
            animation: $border_menu_item;
        }
        & .border_bottom {
            border-bottom: $borderBlack;
            width: 100%;
            margin: 2% 0 0 0;
            animation: $border_menu_item;
        }
        & .square {
            @include square();
            margin: 2%;
            animation: fadeRight 3s ease-in-out;

            & .square_button {
                @include square_button();
            } & :hover {
                background-color: #f0f0f0;
                transform: scale(1.1);
            }
            
        } .square:hover {
                box-shadow: 8px 10px 1px rgb(232, 63, 33);
            }
        & .square_1 {
            background-image: url('/imagem/estacao-de-trabalho-com-laptop.jpg');
        }
        & .square_2 {
            background-image: url('/imagem/contato.jpg');
        }
        & .square_3 {
            background-image: url('/imagem/sobre.jpg');
        }
        & .square_4 {
            background-image: url('/imagem/home.jpg');
        }
    }
}