@import 'variaveis';

// Formatação da imagem do perfil do usuario
@mixin user_profile {
    position: absolute;
    cursor: pointer;
    display: $display_flex;
    justify-content: $justify_content_center;
    align-items: $alingItems;
    padding: 5px;
    margin: 0 17%;
    width: auto;
    bottom: 4.5em;

}
@mixin profile_symbol {
    z-index: 3;
    position: absolute;
    border: $borderBlack;
    padding: 2px;
    text-shadow: 1px 1px 3px lightgoldenrodyellow;
    box-shadow: $shadowBox;
}

@mixin img_profile {
    z-index: 2;
    position: absolute;
    cursor: pointer;
    border: $borderBlack;
    border-radius: 10px;
}

@mixin square_profile{
    z-index: 1;
    position: absolute;
    border: $borderBlack;
    border-radius: 10px;
    background-color: rgb(228, 167, 156);
    box-shadow: $shadowBox;
}

// Formatação do itens do menu


@mixin square { // Formatação geral dos quadrados do menu
    display: $display_flex;
    justify-content: $justify_content_center;
    align-items: $alingItems;
    border: $borderBlack;
    background-size: cover; // Cobrindo todo o quadrado 
    background-position: center;
    margin: 0 5px;
    width: 35%;
    height: 200px;
    box-shadow:  8px 10px 1px rgb(228, 167, 156); // Box shadow
}
    

@mixin img_menu_items{
    width: 200px;
    height: 200px;
    box-shadow: $shadowBox;
    transition: all 0.8s ease-in;
}

@mixin square_button {
    cursor: pointer;
    border: $borderBlack;
    background-color: #fff;
    padding: 4px;
    width: 50%;
    box-shadow: $shadowBox;
    transition: all 0.3s ease-in;
}

// Formatação dos botões principais
@mixin main_button {
    cursor: pointer;
    font-size: 12px;
    padding: 4px 3px;
    margin: 3px;
    text-shadow: $shadowBox;
    box-shadow: $shadowBox;
    transition: all 0.3s ease;            
}