// Variáveis para display flex 
$display_flex: flex;
$alingItems: center;
$justify_content_center: center;

// Variáveis gerais
$shadowBox: 1px 1px 3px rgb(0, 0, 0, 0.7); // Box shadow

// Variável para as bordas
$borderBlack: 1px solid #000; // Borda preta
$borderWhite: 1px solid #fff; // Borda branca

// Variáveis dos quadrados do menu
$shadowSquare: 8px 10px 1px rgb(228, 167, 156); // Box shadow



