@import 'variaveis';
@import 'mixins';
@import 'menu';
@import 'animations';

/* Formatação Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Formatação do menu */

.nav_header {
    display: $display_flex;
    justify-content: $justify_content_center;
    align-items: $alignItems;
    padding: 1%;
    animation: fadeIn 0.5s ease-in-out;

    & .navbar{
        width: 61%;
        border-bottom: $borderBlack;
        margin-right: 10%;

        & .menu_icon {
            display: $display_flex;
            justify-content: flex-end;
            align-items: $alignItems;
            padding: 10px;
            margin: 0 1%;

        & .img_logo {
            cursor: pointer;
            width: 20px;
            height: 20px;
            transition: all 0.2s ease;
            box-shadow: $shadowBox;
        } & :hover {
                transform: scale(1.1);
            }
        }

    }    
}

// Formatação do main 
.main_section { 
    display: none;
    justify-content: start;
    align-items: $alignItems;
    padding: 10px;

    & .user_profile { // Formatação do perfil do usuário
        animation: fadeInProfile 1s ease-in-out;
        @include user_profile();
        & .profile_symbol {
            @include profile_symbol();
            left: 15em;
            bottom: 24.8em;
            animation: $symbol_animation;
            animation-delay: $delay_animation;
        }

        & .img_profile {
            @include img_profile();
            left: 1em;
            bottom: 1em;
            width: 250px;
            height: 400px;
        }

        & .square_profile {
            @include square_profile();
            left: 2em;
            bottom: 0.5em;
            width: 250px;
            height: 400px;
        }
    }
}

.description_user {
    display: $display_flex;
    justify-content: flex-end;
    align-items: $alignItems;
    width: 100%;
    height: auto;
    animation: fadeInDescription 4s ease-in-out;

    & .information_container{
        margin-right: 7em;
        width: 50%;
       
        & .user_title {
            text-shadow: $shadowBox;
        } 
        
        & .user_name h2 {
            color: #b52323;
            margin: 1% 6%;
            width: 100%;
            text-shadow: $shadowBox;
        } 

        & .user_paragraph p{
            border: $borderBlack;
            border-radius: 5px;
            background-color: #fff;
            box-sizing: border-box;
            padding: 10px;
            margin: 2% 0;
            width: 70%;
            text-shadow: $shadowBox;
            box-shadow: $shadowBox;
        } 

        & .section_main_buttons {
            margin: 3% 0;

            & .main_button { // Classe geral dos botões
                @include main_button;
                transition: all 0.8s ease;
            }:hover { // Aumenta o tamanho de todos os botões relacionados a classe
                    transform: scale(1.1); 
                }
            & .contact_button {
                color: #fff;
                border: $borderWhite;
                background-color: #b52323;
                
            } 
            & .projects_button {
                color: #000000;
                border: $borderBlack;
                background: none;
            }  
        } 
    }
}

.contact_section {
    display: $display_flex;
    justify-content: $justify_content_center;
    align-items: $alignItems;
    border: $borderBlack;
    padding: 5px;

    & .contact_container {
        display: $display_flex;
        justif-content: $justify_content_center;
        align-items: $alignItems;
        border: $borderBlack;
        padding: 5px;
        width: 100%;
            & .profile_symbol {
            @include profile_symbol();
            border: none;
            background: none;
            font-size: 20px;
            text-shadow: $shadowBox;
            box-shadow: none;
            animation: $symbol_animation;
            animation-delay: $delay_animation;
            }

            & .contact_image{
                width: 200px;
                height: 300px;
            }
    }
}

.container_footer{
    display: $display_flex;
    justify-content: flex-end;
    align-items: $alignItems;
    border-top: $borderBlack; 
    padding: 1%;
    margin: 4% 15%;
    width: 61%;
    animation: fadeInFooter 0.5s ease-in-out;

    & .footer_section {
        display: $display_flex;
        justify-content: $justify_content_center;
        align-items: $alignItems;

        & p, h4 {
            margin: 0 2px;
        }
    } 

}

