@use 'variaveis';
@import 'mixins';
@import 'menu';
@import 'animations';

/* Formatação Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Formatação do menu */

.nav_header {
    display: $display_flex;
    justify-content: $justify_content_center;
    align-items: $alignItems;
    padding: 1%;
    animation: fadeIn 0.5s ease-in-out;

    & .navbar{
        width: 61%;
        border-bottom: $borderBlack;
        margin-right: 10%;

        & .menu_icon {
            display: $display_flex;
            justify-content: flex-end;
            align-items: $alignItems;
            padding: 10px;
            margin: 0 1%;

            & .main_img_logo {
                @include image_logo;
            } 
        }

    }    
}

// Formatação do main 
.main_section { 
    display: $display_flex;
    justify-content: start;
    align-items: $alignItems;
    padding: 10px;

    & .user_profile { // Formatação do perfil do usuário
        @include user_profile();
        animation: fadeInProfile 1s ease-in-out;

        & .profile_symbol {
            @include profile_symbol();
            left: 15em;
            bottom: 24.8em;
            animation: $symbol_animation;
            animation-delay: $delay_animation;
        }

        & .img_profile {
            @include img_profile();
            left: 1em;
            bottom: 1em;
            width: 250px;
            height: 400px;
        }

        & .square_profile {
            @include square_profile();
            left: 2em;
            bottom: 0.5em;
            width: 250px;
            height: 400px;
        }
    }
}

.description_user {
    display: $display_flex;
    justify-content: flex-end;
    align-items: $alignItems;
    width: 100%;
    height: auto;
    animation: fadeInDescription 3s ease-in-out;

    & .information_container{
        margin-right: 7em;
        width: 50%;
       
        & .user_title {
            text-shadow: $shadowBox;
        } 
        
        & .user_name h2 {
            color: #b52323;
            margin: 1% 6%;
            width: 100%;
            text-shadow: $shadowBox;
        } 

        & .user_paragraph p{
            border: $borderBlack;
            border-radius: 5px;
            background-color: #fff;
            box-sizing: border-box;
            padding: 10px;
            margin: 2% 0;
            width: 70%;
            text-shadow: $shadowBox;
            box-shadow: $shadowBox;
        } 

        & .section_main_buttons {
            margin: 3% 0;

            & .main_button { // Classe geral dos botões
                @include main_button;
                transition: all 0.8s ease;
            }:hover { // Aumenta o tamanho de todos os botões relacionados a classe
                    transform: scale(1.1); 
                }
            & .contact_button {
                color: #fff;
                border: $borderWhite;
                background-color: #b52323;
                
            } 
            & .projects_button {
                color: #000000;
                border: $borderBlack;
                background: none;
            }  
        } 
    }
}

.contact_section {
    display: none;
    @include display_flex_center;
    margin: 2% 0;

    & .contact_menu_icon {
        @include display_flex_center;
        padding: 10px;
        margin: 0 1%;
        width: 10%;

        & .contact_image_logo {
            cursor: pointer;
            width: 20px;
            height: 20px;
            transition: all 0.2s ease;
            box-shadow: $shadowBox;
            animation: fadeIn 0.5s ease-in-out;
        } &:hover {
                transform: scale(1.1);
            }
    }

    & .contact_container {
        @include display_flex_start;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
        border: $borderBlack;
        border-radius: 20px;
        background-color: #FFF3F3;
        padding: 1%;
        width: 60%;
        text-shadow: $shadowBox;

        & .profile_symbol {
            @include profile_symbol();
            border: none;
            background: none;
            font-size: 20px;
            right: 36%;
            top: 5.5em;
            text-shadow: $shadowBox;
            box-shadow: none;
            animation: $symbol_animation;
            animation-delay: $delay_animation;
        }

        & .contact_image{
            position: relative;
            left: 5%;
            width: 200px;
            height: 400px;
            animation: fadeRight 0.5s ease-in-out;
        }

        & .contact_info {
            @include display_flex_center;
            position: absolute;
            flex-direction: column;
            padding: 1%;
            top: 18%;
            left: 40%;
            width: 30%;
            animation: fadeLeft 0.5s ease-in-out;

            & h2 {
                @include contact_style;
                color: #bd1b1b;
                padding-left: 1em;
            }

            & .contact_social {
                @include display_flex_start;
                @include contact_style;
                flex-direction: column;        
            }

            & .contact_email {
                @include display_flex_start;
                @include contact_style;
                flex-direction: column;
            }  

            & img { // Formatação do vetor da página de contato
                z-index: 2;
                position: absolute;
                border-radius: 20px;
                top: 5em;
                left: 19.1em;
                width: 200px;
                height: 300px;
            }
        }
    }
}

.project_section {
    @include display_flex_center;
    display: none;
    flex-direction: column;
    margin: 0 0;
    width: 100%;
    text-shadow: $shadowBox;

    & .project_header { // Formatação do cabeçalho da seção de projetos
        @include display_flex_center;
        display: flex;
        justify-content: space-around;
        align-items: $alignItems;
        width: 80%;
        

        & .project_title {
            color: #b52323;
            font-size: 2em;
            animation: fadeLeft 0.5s ease-in-out;
        }

        & .project_image_logo {
            @include image_logo;
            animation: fadeIn 0.5s ease-in-out;
        } 

    }

    & .project_items { // Formatação da seção de projetos
        @include display_flex_center;
        display: flex;
        flex-wrap: wrap;
        border: $borderBlack;
        border-radius: 20px;
        width: 80%;

        & .bi-arrow-right {
            z-index: 2;
            position: absolute;
            cursor: pointer;
            font-size: 2em;
            top: 11%;
            right: 22%;
            text-shadow: $shadowBox;
            transition: all 0.3s ease;
            animation: fadeIn 0.5s ease-in-out;

            &:hover {
                transform: translateX(5px);
            }
        }

        & .project_image {
            border: $borderBlack;
            border-radius: 10px;
            box-shadow: $shadowBox;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 4px 8px rgba(201, 17, 17, 0.491);
            }
        }
        
        & .large_image{
            margin: 0.8%;
            width: 413px;
            height: 215px;
            animation: fadeLeft 0.9s ease-in-out;
        }

        & .small_image {
            margin: 0.8%;
            width: 215px;
            height: 214px;
            animation: fadeRight 0.9s ease-in-out;
        }
    }

}

.about_section {
    @include display_flex_center;
    display: none;
    flex-direction: column;
    text-shadow: $shadowBox;
    
    & .about_menu {
        display:  $display_flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        animation: fadeIn 0.5s ease-in-out;

        & .about_image_logo {
            @include image_logo;
            margin: 1%;
        }
    }

    & .user_profile_about {
            @include display_flex_center;
            margin: 0 2%;

            & .profile_symbol_about {
                @include profile_symbol();
                top: 14%;
                left: 42%;
                animation: $symbol_animation;
                animation-delay: $delay_animation;
            }

            & .img_profile_about {
                border: $borderBlack;
                border-radius: $borderRadius;
                width: 280px;
                height: 375px;
                box-shadow:  8px 10px 1px rgb(228, 167, 156);
                animation: fadeLeft 0.5s ease-in-out;
            }
        }

    & .about_container {
        @include display_flex_start;
        justify-content: space-between;
        width: 60%;
        padding: 10px;

        & .education_button {
            @include main_button;
            position: absolute;
            color: #fff;
            border: $borderWhite;
            background-color: #b52323;
            top: 17%;
            right: 22%;
            transition: all 0.8s ease;
            animation: fadeRight 1.5s ease-in-out;
            
            &:hover {
                transform: scale(1.1);
            }
        }
    
        & .about_information_container {
            border: $borderBlack;
            padding: 1%;

            & .about_title {
                font-size: 30px;
                color: #b52323;
                margin: 0 2%;
            }

            & .about_text {
                margin: 1em 2em;
                animation: fadeRight 1s ease-in-out;
            } 
        }

        & .skills_title {
            font-size: 30px;
            color: #b52323;
            margin: 0 2%;
        }

        & .skills_container {
            display: $display_flex;
            justify-content: space-around;
            align-items: $alignItems;
            margin: 1em 1em;

            & p {
                border: $borderBlack;
                border-radius: $borderRadius;
                padding: 1%;
                box-shadow: $shadowBox;
                transition: all 0.3s ease-out;
                animation: fadeInFooter 1s ease-in-out;
            } :hover {
                box-shadow: 1px 1px 3px rgba(236, 57, 57, 0.7);
            }
        
        }

    }
}

.education_section {
    @include display_flex_center;
    display: none;
    flex-direction: column;
    margin: 1% 0;
    text-shadow: $shadowBox;
    
    & .education_menu {
        display:  $display_flex;
        justify-content: flex-end;
        align-items: center;
        width: 40%;
        margin: 1%;

        & .education_image_logo {
            @include image_logo;
            margin: 1%;
        }
    }

    & .education_container {
        display: $display_flex;
        justify-content: space-between;
        width: 60%;
        padding: 10px;

        & .education_image_representative {
            @include display_flex_center;
            margin: 0 2%;

            & .education_image {
                border: $borderBlack;
                border-radius: $borderRadius;
                width: 300px;
                height: 453px;
                box-shadow:  8px 10px 1px rgb(228, 167, 156);
            }
        }

        & .education_information_container {
            @include display_flex_start;
            flex-direction: column;
            width: 60%;
            padding: 10px;

            & .education_title {
                font-size: 35px;
                color: #b52323;
                margin: 0 2%;
            }

            & .education_text {
                font-size: 16px;
                border-left: $borderBlack;
                padding: 1%;
                margin: 1em 2em;
            }

            & .last_education_year {
                font-size: 4em;
                color: #b52323;
                margin: 0 2%;
            }

            & .education_curses {
                border-left: $borderBlack;
                margin: 1em 2em;
                padding: 1%;
                width: 100%;

                & p {
                    font-size: 18px;
                    font-weight: bold;
                }
                
                & .education_curses_list li {
                    font-size: 16px;
                    margin: 0.5em 2em;
                }
            }
        }
    }
}

.container_footer{
    display: $display_flex;
    justify-content: flex-end;
    align-items: $alignItems;
    border-top: $borderBlack; 
    padding: 1%;
    margin: 4% 15%;
    width: 61%;
    animation: fadeInFooter 0.5s ease-in-out;

    & .footer_section {
        display: $display_flex;
        @include display_flex_center;

        & p, h4 {
            margin: 0 2px;
        }
    } 

}

