@charset "UTF-8";
.visible {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  width: 100%;
}

.hidden {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
  width: 100%;
}

.menu_items {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu_items .user_profile_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  animation: merge 5s ease-in-out;
}
.menu_items .user_profile_menu .profile_symbol {
  z-index: 3;
  position: absolute;
  border: 1px solid #000;
  padding: 2px;
  text-shadow: 1px 1px 3px lightgoldenrodyellow;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  left: 26em;
  bottom: 25em;
  animation: symbol_glitch 0.5s ease-out;
  animation-delay: 1s;
}
.menu_items .user_profile_menu .img_profile {
  z-index: 2;
  position: absolute;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 10px;
  left: 14em;
  bottom: 9em;
  width: 220px;
  height: 280px;
}
.menu_items .user_profile_menu .square_profile {
  z-index: 1;
  position: absolute;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: rgb(228, 167, 156);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  left: 15em;
  top: 9em;
  width: 220px;
  height: 280px;
}
.menu_items .menu_squares {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
  width: 50%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.menu_items .menu_squares .img_menu_items {
  width: 150px;
  height: 150px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  transition: all 0.8s ease-in;
}
.menu_items .menu_squares .border_top {
  border-top: 1px solid #000;
  width: 100%;
  margin: 0 0 2% 0;
  animation: border_menu_item 2s ease-out;
}
.menu_items .menu_squares .border_bottom {
  border-bottom: 1px solid #000;
  width: 100%;
  margin: 2% 0 0 0;
  animation: border_menu_item 2s ease-out;
}
.menu_items .menu_squares .square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background-size: cover;
  background-position: center;
  margin: 0 5px;
  width: 35%;
  height: 200px;
  box-shadow: 8px 10px 1px rgb(228, 167, 156);
  margin: 2%;
  animation: fadeRight 3s ease-in-out;
}
.menu_items .menu_squares .square .square_button {
  cursor: pointer;
  border: 1px solid #000;
  background-color: #fff;
  padding: 4px;
  width: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in;
}
.menu_items .menu_squares .square :hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}
.menu_items .menu_squares :hover {
  box-shadow: 8px 10px 1px rgb(232, 63, 33);
}
.menu_items .menu_squares .square_1 {
  background-image: url("/imagem/estacao-de-trabalho-com-laptop.jpg");
}
.menu_items .menu_squares .square_2 {
  background-image: url("/imagem/contato.jpg");
}
.menu_items .menu_squares .square_3 {
  background-image: url("/imagem/sobre.jpg");
}
.menu_items .menu_squares .square_4 {
  background-image: url("/imagem/home.jpg");
}

.visible {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  width: 100%;
}

.hidden {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
  width: 100%;
}

.menu_items {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu_items .user_profile_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  animation: merge 5s ease-in-out;
}
.menu_items .user_profile_menu .profile_symbol {
  z-index: 3;
  position: absolute;
  border: 1px solid #000;
  padding: 2px;
  text-shadow: 1px 1px 3px lightgoldenrodyellow;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  left: 26em;
  bottom: 25em;
  animation: symbol_glitch 0.5s ease-out;
  animation-delay: 1s;
}
.menu_items .user_profile_menu .img_profile {
  z-index: 2;
  position: absolute;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 10px;
  left: 14em;
  bottom: 9em;
  width: 220px;
  height: 280px;
}
.menu_items .user_profile_menu .square_profile {
  z-index: 1;
  position: absolute;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: rgb(228, 167, 156);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  left: 15em;
  top: 9em;
  width: 220px;
  height: 280px;
}
.menu_items .menu_squares {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
  width: 50%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.menu_items .menu_squares .img_menu_items {
  width: 150px;
  height: 150px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  transition: all 0.8s ease-in;
}
.menu_items .menu_squares .border_top {
  border-top: 1px solid #000;
  width: 100%;
  margin: 0 0 2% 0;
  animation: border_menu_item 2s ease-out;
}
.menu_items .menu_squares .border_bottom {
  border-bottom: 1px solid #000;
  width: 100%;
  margin: 2% 0 0 0;
  animation: border_menu_item 2s ease-out;
}
.menu_items .menu_squares .square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background-size: cover;
  background-position: center;
  margin: 0 5px;
  width: 35%;
  height: 200px;
  box-shadow: 8px 10px 1px rgb(228, 167, 156);
  margin: 2%;
  animation: fadeRight 3s ease-in-out;
}
.menu_items .menu_squares .square .square_button {
  cursor: pointer;
  border: 1px solid #000;
  background-color: #fff;
  padding: 4px;
  width: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in;
}
.menu_items .menu_squares .square :hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}
.menu_items .menu_squares :hover {
  box-shadow: 8px 10px 1px rgb(232, 63, 33);
}
.menu_items .menu_squares .square_1 {
  background-image: url("/imagem/estacao-de-trabalho-com-laptop.jpg");
}
.menu_items .menu_squares .square_2 {
  background-image: url("/imagem/contato.jpg");
}
.menu_items .menu_squares .square_3 {
  background-image: url("/imagem/sobre.jpg");
}
.menu_items .menu_squares .square_4 {
  background-image: url("/imagem/home.jpg");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes border_menu_item {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes merge {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes symbol_glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-4px, 4px);
  }
  40% {
    transform: translate(-4px, -4px);
  }
  60% {
    transform: translate(4px, 4px);
  }
  80% {
    transform: translate(4px, -4px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes fadeInProfile {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInDescription {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInFooter {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Formatação Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Formatação do menu */
.nav_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  animation: fadeIn 0.5s ease-in-out;
}
.nav_header .navbar {
  width: 61%;
  border-bottom: 1px solid #000;
  margin-right: 10%;
}
.nav_header .navbar .menu_icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin: 0 1%;
}
.nav_header .navbar .menu_icon .img_logo {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: all 0.2s ease;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.nav_header .navbar .menu_icon :hover {
  transform: scale(1.1);
}

.main_section {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
}
.main_section .user_profile {
  animation: fadeInProfile 1s ease-in-out;
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 0 17%;
  width: auto;
  bottom: 4.5em;
}
.main_section .user_profile .profile_symbol {
  z-index: 3;
  position: absolute;
  border: 1px solid #000;
  padding: 2px;
  text-shadow: 1px 1px 3px lightgoldenrodyellow;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  left: 15em;
  bottom: 24.8em;
  animation: symbol_glitch 0.5s ease-out;
  animation-delay: 1s;
}
.main_section .user_profile .img_profile {
  z-index: 2;
  position: absolute;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 10px;
  left: 1em;
  bottom: 1em;
  width: 250px;
  height: 400px;
}
.main_section .user_profile .square_profile {
  z-index: 1;
  position: absolute;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: rgb(228, 167, 156);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  left: 2em;
  bottom: 0.5em;
  width: 250px;
  height: 400px;
}

.description_user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  animation: fadeInDescription 4s ease-in-out;
}
.description_user .information_container {
  margin-right: 7em;
  width: 50%;
}
.description_user .information_container .user_title {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.description_user .information_container .user_name h2 {
  color: #b52323;
  margin: 1% 6%;
  width: 100%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.description_user .information_container .user_paragraph p {
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px;
  margin: 2% 0;
  width: 70%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.description_user .information_container .section_main_buttons {
  margin: 3% 0;
}
.description_user .information_container .section_main_buttons .main_button {
  cursor: pointer;
  font-size: 12px;
  padding: 4px 3px;
  margin: 3px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  transition: all 0.8s ease;
}
.description_user .information_container .section_main_buttons :hover {
  transform: scale(1.1);
}
.description_user .information_container .section_main_buttons .contact_button {
  color: #fff;
  border: 1px solid #fff;
  background-color: #b52323;
}
.description_user .information_container .section_main_buttons .projects_button {
  color: #000000;
  border: 1px solid #000;
  background: none;
}

.contact_section {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
}
.contact_section .contact_menu_icon {
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 1%;
  width: 10%;
}
.contact_section .contact_menu_icon .contact_image_logo {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: all 0.2s ease;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  animation: fadeIn 0.5s ease-in-out;
}
.contact_section .contact_menu_icon:hover {
  transform: scale(1.1);
}
.contact_section .contact_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #FFF3F3;
  padding: 1%;
  width: 60%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.contact_section .contact_container .profile_symbol {
  z-index: 3;
  position: absolute;
  border: 1px solid #000;
  padding: 2px;
  text-shadow: 1px 1px 3px lightgoldenrodyellow;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  border: none;
  background: none;
  font-size: 20px;
  right: 36%;
  top: 5.5em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  box-shadow: none;
  animation: symbol_glitch 0.5s ease-out;
  animation-delay: 1s;
}
.contact_section .contact_container .contact_image {
  position: relative;
  left: 5%;
  width: 200px;
  height: 400px;
  animation: fadeRight 0.5s ease-in-out;
}
.contact_section .contact_container .contact_info {
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  padding: 1%;
  top: 18%;
  left: 40%;
  width: 30%;
  animation: fadeLeft 0.5s ease-in-out;
}
.contact_section .contact_container .contact_info h2 {
  border: 1px solid #fff;
  background-color: #EDEDED;
  border-radius: 15px;
  padding: 2%;
  margin: 2% 0;
  width: 80%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  color: #bd1b1b;
  padding-left: 1em;
}
.contact_section .contact_container .contact_info .contact_social {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #fff;
  background-color: #EDEDED;
  border-radius: 15px;
  padding: 2%;
  margin: 2% 0;
  width: 80%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  flex-direction: column;
}
.contact_section .contact_container .contact_info .contact_email {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #fff;
  background-color: #EDEDED;
  border-radius: 15px;
  padding: 2%;
  margin: 2% 0;
  width: 80%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  flex-direction: column;
}
.contact_section .contact_container .contact_info img {
  z-index: 2;
  position: absolute;
  border-radius: 20px;
  top: 5em;
  left: 19.1em;
  width: 200px;
  height: 300px;
}

.container_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #000;
  padding: 1%;
  margin: 4% 15%;
  width: 61%;
  animation: fadeInFooter 0.5s ease-in-out;
}
.container_footer .footer_section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_footer .footer_section p, .container_footer .footer_section h4 {
  margin: 0 2px;
}

/*# sourceMappingURL=style.css.map */
