@mixin main_button {
    cursor: pointer;
    font-size: 12px;
    padding: 4px 3px;
    margin: 3px;
    text-shadow: $shadowBox;
    box-shadow: $shadowBox;
    transition: all 0.3s ease;            
}