@charset "UTF-8";
/* Formatação Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Formatação do menu */
.nav_header {
  justify-content: center;
  align-items: center;
  margin: 2% 0;
  padding: 1%;
}
.nav_header .navbar {
  width: 80%;
}
.nav_header .navbar .menu_icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 10px;
  margin: 0 10%;
}
.nav_header .navbar .menu_icon .img_logo {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: all 0.2s ease;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.nav_header .navbar .menu_icon :hover {
  transform: scale(1.1);
}

/* Formatação do main */
.main_section {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
}
.main_section .user_profile {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 0 17%;
  width: auto;
  bottom: 3.5em;
}
.main_section .user_profile .img_profile {
  z-index: 2;
  position: absolute;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  right: 1.5em;
  bottom: 1em;
}
.main_section .user_profile .square_profile {
  z-index: 1;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: antiquewhite;
  width: 250px;
  height: 400px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.description_user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
}
.description_user .information_container {
  margin-right: 7em;
  width: 50%;
}
.description_user .information_container .user_title {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.description_user .information_container .user_name h2 {
  color: #b52323;
  margin: 1% 6%;
  width: 100%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.description_user .information_container .user_paragraph p {
  border: 1px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  margin: 2% 0;
  width: 70%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.description_user .information_container .section_main_buttons {
  margin: 3% 0;
}
.description_user .information_container .section_main_buttons .main_button {
  cursor: pointer;
  font-size: 12px;
  padding: 4px 3px;
  margin: 3px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}
.description_user .information_container .section_main_buttons .main_button :hover {
  transform: scale(1.1);
}
.description_user .information_container .section_main_buttons .contact_button {
  color: #fff;
  border: 1px solid #fff;
  background-color: #b52323;
}
.description_user .information_container .section_main_buttons .projects_button {
  color: #000000;
  border: 1px solid #000;
  background: none;
}

.container_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1%;
  margin: 3% 0;
}
.container_footer .footer_section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #000;
  margin: 0 15%;
  width: 67.5%;
}
.container_footer .footer_section .information_footer_section {
  margin-left: 1%;
}

/*# sourceMappingURL=style.css.map */
